<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>770199692212-2t1p0ntqesqu8jfcgq9errri3p75etp0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.770199692212-2t1p0ntqesqu8jfcgq9errri3p75etp0</string>
	<key>API_KEY</key>
	<string>AIzaSyC4VlE328LG-ICUYRc0rByz-kWzdkow1-4</string>
	<key>GCM_SENDER_ID</key>
	<string>770199692212</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.devmbuyukplevne.SefSensin</string>
	<key>PROJECT_ID</key>
	<string>sefsensin-96aef</string>
	<key>STORAGE_BUCKET</key>
	<string>sefsensin-96aef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:770199692212:ios:c759a821072aa2750d08e1</string>
	<key>DATABASE_URL</key>
	<string>https://sefsensin-96aef-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>